extends blocks/_layout
append content
	main.main
		.box
			.main-content.auth
				.auth-content.success
					h1(class="auth-content__title") Регистрация прошла успешно!
					h3(class="auth-content__subtitle") Мы отправили Вам письмо на указанный элекронный адрес!<br/>Пройдите по ссылке указанной в нем чтобы начать инвестировать.
					a(href="/" class="to-login-btn") Вернуться на главную
