extends blocks/_layout
append content
	main.main
		.box
			.main-content.auth
				.auth-content.success
					h1(class="auth-content__title") Успешно!
					h3(class="auth-content__subtitle") Новый пароль отправлен на указанный электронный адрес!
					a(href="/" class="to-login-btn") Вернуться на главную
