extends blocks/_layout
append content
	main.main
		.box
			.main-content.auth
				.auth-content
					h1(class="auth-content__title") Восстановление пароля
					form(action="" id="resetPass")
						.auth-content__label
							span(class="input-name") ЭЛЕКТРОННАЯ ПОЧТА
							input(type="text" id="email" name="email" placeholder="your@email.com")
						button(type="submit" class="send-auth-form") Восстановить пароль
						a(href="/" class="to-login-btn") Вернуться на главную
