extends blocks/_layout
append content
	main.main(style="margin-top: 50px;")
		.box
			.main-content.privacy
				.head-block.dark
					span Положения и условия
				.content-block.scrollbar-rail
					p  This document describes the main principles and mechanisms, which apply to the Global
						| Data Protection Regulation (GDPR), and explains the rights and responsibilities of the Clients
						| from the EU/EEA and the AMarkets LTD, Suite 305, Griffith Corporate Centre 1510, Beachmont, Kingstown,
						| Saint Vincent and the Grenadines (hereinafter: the «Company»).
					p The Company respects its clients’ right to privacy and ensures compliance with personal data protection policies
						| and the obligations under GDPR. This document informs you of how we store personal data and how we use it in our
						| operations. Please, become acquainted with this document so that you are fully aware of how and why we are using your data.
					p The Company is the data controller, responsible for your personal data. For all matters concerning processing of personal data
						| contact our Data Protection Officer at dpo@amarkets.com.
					p Our website may contain links to and from the websites of our partner networks, advertisers and affiliates.
						| If you follow a link to any of these websites, please note that these websites have their own privacy policies
						| and that we do not accept any responsibility or liability for these policies. Please check these policies before you
						| submit any personal data to these websites.
					p Your personal data will be handled in accordance to current data protection laws, mainly for the purpose of fulfillment of
						| legal requirements.
					p If we intend to use your data for any other purposes or if we intend to disclose your information to any third party for such
						| purposes we will collect express consent from you if legally required prior to using your personal data.
					p You hereby acknowledge and give your consent that in case of the need to provide personal data to third parties in order
						| to ensure compliance with applicable laws, as well as the need to involve a third party as a service provider for the given
						| purposes, the Company reserves the right to transfer its
					p  This document describes the main principles and mechanisms, which apply to the Global
						| Data Protection Regulation (GDPR), and explains the rights and responsibilities of the Clients
						| from the EU/EEA and the AMarkets LTD, Suite 305, Griffith Corporate Centre 1510, Beachmont, Kingstown,
						| Saint Vincent and the Grenadines (hereinafter: the «Company»).
					p The Company respects its clients’ right to privacy and ensures compliance with personal data protection policies
						| and the obligations under GDPR. This document informs you of how we store personal data and how we use it in our
						| operations. Please, become acquainted with this document so that you are fully aware of how and why we are using your data.
					p The Company is the data controller, responsible for your personal data. For all matters concerning processing of personal data
						| contact our Data Protection Officer at dpo@amarkets.com.
					p Our website may contain links to and from the websites of our partner networks, advertisers and affiliates.
						| If you follow a link to any of these websites, please note that these websites have their own privacy policies
						| and that we do not accept any responsibility or liability for these policies. Please check these policies before you
						| submit any personal data to these websites.
					p Your personal data will be handled in accordance to current data protection laws, mainly for the purpose of fulfillment of
						| legal requirements.
					p If we intend to use your data for any other purposes or if we intend to disclose your information to any third party for such
						| purposes we will collect express consent from you if legally required prior to using your personal data.
					p You hereby acknowledge and give your consent that in case of the need to provide personal data to third parties in order
						| to ensure compliance with applicable laws, as well as the need to involve a third party as a service provider for the given
						| purposes, the Company reserves the right to transfer its

				a(class="main-button active " href="/") Вернуться на главную